<h1>All articles</h1>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>
<%= link_to "About", pages_about_path %>
<%= link_to "Home", pages_home_path %>